.first {
  background-color: seashell;
}

.tSize1 {
  font-size: 90px;
}

.tSize2 {
  font-size: 40px;
}

.marg {
  margin: 5px;
  text-decoration: none;
}

.icons {
  transition: 0.5s;
  margin: 5px;
}

.icons:hover {
  transform: scale(1.2);
}

.links {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
